<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to Michigan Kuchikomi!</h1>
  <h1>ミシガン口コミへようこそ!</h1>

  <h2>ミシガンでの生活をもっと楽しく便利にするためのオンラインコミュニティサイト</h2>
  <%# <h2>英語</h2> %>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>

<%= link_to image_tag("worldometers-logo.gif", alt: "worldometers COVID-19 CORONAVIRUS PANDEMIC report", width: "200px"), "https://www.worldometers.info/coronavirus/" %>
<p>COVID Live Update by Worldometer</p>
<p>コロナウイルスの感染状況 世界全体・国ごとの統計</p>

<%= link_to image_tag("toyokeizai-covid", alt: "oronavirus Disease (COVID-19) Situation Report in Japan by Toyo Keizai Online", width: "200px"), "https://toyokeizai.net/sp/visual/tko/covid19/en.html" %>
<p>Coronavirus Disease (COVID-19) Situation Report in Japan by Toyo Keizai Online</p>
<p>新型コロナウイルス日本国内感染の状況 (制作・運用：東洋経済オンライン)</p>

<%= link_to image_tag("coronavirus-michigan", alt: "Coronavirus - Coronavirus - State of Michigan", width: "200px"), "https://www.michigan.gov/coronavirus/0,9753,7-406-98163_98173---,00.html" %>
<p>Coronavirus - Coronavirus - State of Michigan</p>
<p>新型コロナウイルスミシガン州内感染の状況 (運用：ミシガン州政府)</p>

