<%
=begin
%> 
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="jumbotron ">
    <h1>Welcome to Michigan!</h1>
    <h1>ミシガンへようこそ!</h1>
    <hr class="my-4">
    <p>ミシガンでの生活をもっと楽しく便利にするためのオンラインコミュニティサイト</p>
    <%# <h2>英語</h2> %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
<%
=end
%>
  <% if logged_in? %>
    <div class="jumbotron">
      <h1>Welcome to Michigan!</h1>
      <h1>ミシガンへようこそ!</h1>
      <hr class="my-4">
      <p>ミシガンでの生活をもっと楽しく便利にするためのオンラインコミュニティサイト</p>
      <%# <h2>英語</h2> %>
    </div>
  <% else %>
    <div class="jumbotron">
      <h1>Welcome to Michigan!</h1>
      <h1>ミシガンへようこそ!</h1>
      <hr class="my-4">
      <p>ミシガンでの生活をもっと楽しく便利にするためのオンラインコミュニティサイト</p>
      <%# <h2>英語</h2> %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <div class="container mb-4 ">
    <div class="row mb-5">
      <div class="col-md-6 col-xs-12">
        <h4><%= link_to "おしゃべり掲示板", keijiban_path, class: ""%></h4>
        <p>これはどこで買えるの？こんなときはどうすればいいの？など悩み事相談等</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4>ガレージセール掲示板</h4>
        <p>不要品や帰国時など売ります・買います情報、ガレージセールの案内など</p>
        <i>ページ準備中です お楽しみに！</i>
      </div>
    </div>
    <div class="row mt-5 mb-1">
      <div class="col-md-6 col-xs-12">
        <h4>宣伝・募集掲示板</h4>
        <p>サークルメンバー募集、各種教室・レッスン、イベント告示、ローカルビジネス、お友達募集など</p>
        <i>ページ準備中です お楽しみに！</i>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4>不動産掲示板</h4>
        <p>賃貸、販売、ルームメイト募集、サブリース案内など</p>
        <i>ページ準備中です お楽しみに！</i>
      </div>
    </div>

  <div class="container">
      <h4><コロナウイルス関連の情報サイトリンク></h4>
    <div class="row mt-4">
    <div class="col-md-4 col-xs-12 pt-2 border">
        <%= link_to image_tag("worldometers-logo.gif", alt: "worldometers COVID-19 CORONAVIRUS PANDEMIC report", width: "150px"), "https://www.worldometers.info/coronavirus/" %>
        <a class="btn btn-outline-primary" href="https://www.worldometers.info/coronavirus/" role="button">最新情報を見る</a>
        <p><small>COVID Live Update by Worldometer</small></p>
        <p><small>新型コロナウイルスの感染状況 世界全体・国ごとの統計</small></p>
    </div>
    <div class="col-md-4 col-xs-12 pt-2 border">
        <%= link_to image_tag("toyokeizai-covid.png", alt: "oronavirus Disease (COVID-19) Situation Report in Japan by Toyo Keizai Online", width: "150px"), "https://toyokeizai.net/sp/visual/tko/covid19/en.html" %>
        <a class="btn btn-outline-primary" href="https://toyokeizai.net/sp/visual/tko/covid19/en.html" role="button">最新情報を見る</a>
      <p><small>COVID-19 Situation Report in Japan by Toyo Keizai Online</small></p>
      <p><small>新型コロナウイルス日本国内感染の状況 (制作・運用：東洋経済オンライン)</small></p>
    </div>
    <div class="col-md-4 col-xs-12 pt-2 border">
        <%= link_to image_tag("coronavirus-michigan.png", alt: "Coronavirus - Coronavirus - State of Michigan", width: "150px"), "https://www.michigan.gov/coronavirus/0,9753,7-406-98163_98173---,00.html" %>
        <a class="btn btn-outline-primary" href="https://www.michigan.gov/coronavirus/0,9753,7-406-98163_98173---,00.html" role="button">最新情報を見る</a>
      <p><small>Coronavirus - Coronavirus - State of Michigan</small></p>
      <p><small>新型コロナウイルスミシガン州内感染の状況 (運用：ミシガン州政府)</small></p>
      </div>
    </div>
  </div>
</div>
