<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-sm-8">
    <h5>過去にコメントしたポスト (<%= @user.comments.count %>)</h5>
    <%= render partial: "posts/list", locals: {posts: @posts } %>
  </div>
  <div class="col-sm-4">
      <%= gravatar_for @user %>
      <h3><%= @user.name %></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quo voluptate quae et neque, necessitatibus nostrum facere sequi ad optio. Vitae illo mollitia explicabo dignissimos modi est, doloremque earum in.</p>

      <p>Karma: <%= @user.karma %> <span class="fa fa-star text-warning"></span></p>
      <p>Cake day: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
  </div>
</div>
<%
=begin
%> 
<div class="col-sm-8">
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>
<%
=end
%>