<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <h5>過去にコメントしたポスト (<%= @user.comments.count %>)</h5>
    <%= render partial: "posts/list", locals: {posts: @posts } %>
  </div>
  <div class="col-sm-4">
      <%= gravatar_for @user %>
      <h3><%= @user.name %></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quo voluptate quae et neque, necessitatibus nostrum facere sequi ad optio. Vitae illo mollitia explicabo dignissimos modi est, doloremque earum in.</p>

      <p>Karma: <%= @user.karma %> <span class="fa fa-star text-warning"></span></p>
      <p>Cake day: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
  </div>
</div>
<div class="row">
</div>