<div class="row">
  <div class="col-md-12">
    <h4 style="display: inline-block;">新着アイテム</h4>
    <% if logged_in?%>
      <%= link_to "出品する", new_good_path, class:"btn btn-primary float-right mb-3" %>
    <% else %>
      <%= link_to "ログインして出品する", login_path, class:"btn btn-primary float-right mb-3" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @goods.each do |good| %>
    <div class="col-md-3">
    <%= link_to(good_path(good.id)) do %>
      <div class="card-deck mb-3">
        <div class="card">
          <%= image_tag(good.image, class:"card-img-top") if good.image.attached? %> 
          <div class="card-img-overlay">
            <h5 class="card-title">$ <%= good.price%></h5>
          </div>
          <div class="card-body text-center">
            <h6 class="card-title"><span class="name pl-2"><%= good.name.truncate(15, omission: '...')%></span></h6>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>