<div class="row text-center mb-3">
  <div class="col-md-12">
  <h2><%= @good.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-right">
  <%= image_tag @good.image.variant(resize: "300x300") if @good.image.attached? %>
  </div>

  <div class="col-md-6">
    <table border="1">
    <tr>
      <td class="bg-gray pl-2">出品者</td>
      <td><span class="user pl-2 pr-2"><%= link_to @good.user.name, @good.user %></span></td>
    </tr>
    <tr>
    <td class="pl-2">商品の状態</td>
    <td><span class="@goods_condition pl-2"><%= @good.goods_condition %></span></td>
    </tr>
    <tr>
    <td class="pl-2 pr-2">受け渡しの方法</td>
    <td><span class="delivery_condition pl-2"><%= @good.delivery_condition %></span></td>
    </tr>

    <tr>
    <td class="pl-2">地域</td>
    <td><span class="area pl-2"><%= @good.area %></span></td>
    </tr>

    <tr>
    <td class="pl-2">サイズ</td>
    <td><span class="size pl-2"><%= @good.size %></span></td>
    </tr>

    </table>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12 mt-5 ">
    <h2>$ <%= @good.price %></h2>
      <span class="description">商品の説明・詳細<%= @good.description %></span>
  </div>
</div>
<div class="row ">
<div class="col-md-12 text-right">
  <span class="timestamp">
    <small><%= time_ago_in_words(@good.created_at) %> 前に投稿されました。</small>
  </span>
  </div>
</div>