<div class="row">
  <div class="col-sm-6">
    <%= form_for [@community, @post] do |form| %>
      <div class="form-group">
        <%= label_tag :title %>
        <%= form.text_field :title, placeholder: "タイトルを記入", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :body %>
        <%= form.text_area :body, size: "20x6", placeholder: "内容を記入", class: 'form-control' %>
      </div>
      <span class="image">
      <%= form.file_field :image %>
      </span><br>
      <%= form.submit "トピックを投稿する", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
