<% posts.each do |post| %>
  <div class="card bg-light p-3 mb-2">
    <div class="row">
      <div class="col-1 text-center ">
        <div id="vote-actions-<%= post.id %>" class="vote" data-id="<%= post.id %>">
          <div class="fa fa-arrow-up upvote <%= is_upvoted post %>"></div>
          <span class="font-weight-bold score"><%= post.score %></span>
          <div class="fa fa-arrow-down downvote <%= is_downvoted post %>"></div>
        </div>
      </div>
      <div class="col-11">
        <p><small><%= link_to post.community.name, community_path(post.community) %> Posted by <%= link_to post.user.name, user_path(post.user) %> <%= time_ago_in_words post.created_at %> ago</small></p>
        <h4 class="mb-2"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-center ">
      </div>
      <div class="col-md-11">
        <p><%= truncate post.body, length: 200 %></p>
        <p>
        <%= image_tag post.image.variant(resize: "200x200") if post.image.attached? %>
        </p>
      </div>
    </div>
  </div>
<% end %>