<div class="row">    
  <div class="col-md-8 col-xs-12 bg-light">
    <div class="row">
      <div class="col-1 text-center ">
        <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
          <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>"></div>
            <span class="font-weight-bold score"><%= @post.score %></span>
            <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
        </div>
      </div>
      <div class="col-11">
        <p><small>Posted by <%= link_to @post.user.name, user_path(@post.user) %>・ <%= time_ago_in_words @post.created_at %> ago</small></p>
          <h3><%= @post.title %></h3>
          <div class="float-right">
          <% if current_user.admin?%>
        | <%= link_to "ポストを削除する", community_post_path, method: :delete,
                                      data: { confirm: "削除してもよろしいですか?" } %>
          <% end %>
          </div>
        
        <%= simple_format @post.body %>
        <p>
          <%= image_tag @post.image.variant(resize: "400x400") if @post.image.attached? %>
        </p>
        <% if logged_in? %>
          <h5>このトピにコメントする</h5>
          <%= form_for @comment, remote: true do |f| %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_area :message, size: "20x6", placeholder: "コメントを書く", class: "form-controll"%>
            <%= f.submit "コメントする", class: "btn btn-success mt-2" %>
          <% end %>
        <% else %>
          <%= link_to "ログイン・サインアップしてコメントする", login_path, class: "btn btn-success mb-2" %>
          <P><small>※アカウントを作成すると毎回の投稿者情報等の入力を省くことができます。<br>※そのほかNewミシガン掲示板を快適に使うための便利な機能が無料でご利用いただけます。</small></P>
        <% end %>
        <div id="post-comments" class="mt-4">
          <%= render partial: "posts/comments", locals: {comments: @post.comments } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card p-3 mb-3">
      <p class="h5">このコミュニティについて</p>
      <%= render partial: 'communities/summary', locals: { community_id: @post.community_id } %>
    </div>
    <div class="card p-3 mb-3">
      <h5><%= @community.name + "のルール" %></h5>
      <small>
      <%= simple_format @community.rules %>
      </small>
    </div>
  </div>
</div>