<div class="row">    
  <div class="col-8 bg-white">
    <div class="row">
      <div class="col-1 text-center ">
        <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
          <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>"></div>
            <span class="font-weight-bold score"><%= @post.score %></span>
            <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
        </div>
      </div>
      <div class="col-11">
        <p><small>Posted by <%= link_to @post.user.name, user_path(@post.user) %>・ <%= time_ago_in_words @post.created_at %> ago</small></p>
        <h3><%= @post.title %></h3>
        <%= simple_format @post.body %>
        <p>
          <strong>images:</strong>
          <% if @post.images.attached? %>
            <% @post.images.each do |image|%>
              <%= image_tag image.variant(resize: "150x150") %>
            <% end %>
          <% end %>
        </p>
        <% if logged_in? %>
          <h5>レスする</h5>
          <%= form_for @comment, remote: true do |f| %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_area :message, placeholder: "コメントを書く", class: "form-controll"%>
            <%= f.submit "コメントする", class: "btn btn-success mt-2" %>
          <% end %>
        <% else %>
          <%= link_to "ログイン・サインアップしてコメントする", login_path, class: "btn btn-success mb-2" %>
          <P><small>※アカウントを作成すると毎回の投稿者情報等の入力を省くことができます。<br>※そのほか、ミシガン口コミを快適に使うための便利な機能が無料でご利用いただけます。</small></P>
        <% end %>
        <div id="post-comments" class="mt-5">
          <%= render partial: "posts/comments", locals: {comments: @post.comments } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card p-3 mb-3">
      <p class="h5">About this community</p>
      <%= render partial: 'communities/summary', locals: { community_id: @post.community_id } %>
    </div>
    <div class="card p-3 mb-3">
      <h5><%= @community.name + "のルール" %></h5>
      <small>
      <%= simple_format @community.rules %>
      </small>
    </div>
  </div>
</div>