<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <%= link_to "New ミシガン掲示板", root_path, class: "navbar-brand" %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navber" aria-controls="navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navber">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home",   root_path, class: "btn btn-outline-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Help",   help_path, class: "btn btn-outline-primary" %>
          </li>
        </ul>
        <% if logged_in? %>
<%
=begin
%> 
          <li class="nav-item">
            <%= link_to "Users", users_path, class: "btn btn-outline-primary" %>
          </li>
<%
=end 
%>
          <div class="karma float-left  mr-2">
            <span class="fa fa-star text-warning"></span>
            <%= current_user.karma %>
          </div>
          <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle ml-auto" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Profile", current_user, class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
              </div> 
            </div>
            <% else %>
            <ul class='navbar-nav'>
              <li class="nav-item"><%= link_to "ログイン / 登録", login_path, class: "btn btn-outline-primary ml-auto" %></li>
            </ul>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</nav> 